// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;



// Custom

// background color
$bg-base: #0F0F0F;
$bg-secondary: #212121cd;
$card-bg-border-color: #ffffff;
$card-bg-secondary: #131313cd;


// Texts
$txt-main: #645CAA;
$txt-white: #ededed;


// Navbar color
$nav-bg-color: #ffffff;
$nav-text-bg: #0F0F0F;
$nav-txt: #ffffff;
$nav-text-bg-hover: #ffffff;

// Cards
$delete_btn: #ededed;
