.add_movie_btn{
  position: sticky;
  top: 100px;
  z-index: 2;
  color: $txt-white;
  margin-left: 20px;
  margin-top: 25px;
  height: 35px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
  background-color: rgb(16, 16, 16);
  border: 3px solid #ffffff;
  transition: all .2s ease;
  flex-shrink: 0;
  @media screen and (min-width: 20em) {
    position:static;
  }
  @media screen and (min-width: 60em) {
    position:sticky;
  }
  &:link, &:visited{
    color: $txt-white;
  }
  &:hover, &:active{
    color: $txt-white;
    transform: scale(1.14);
  }
}
