.card_wrapper{
  // border: 2px solid red;
  position: relative;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  @media screen and (min-width: 20em) {
    flex-direction: column-reverse;
    align-items: center;
  }
  @media screen and (min-width: 40em) {
    gap: 0px;
  }
  @media screen and (min-width: 60em) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 30px;
  }
}

.flex_poster{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin: 20px auto 20px;
  gap: 30px;
  color: $txt-white;
  background-color: $card-bg-secondary;
  border-radius: 20px;
  font-size: 1.2rem;
  letter-spacing: .5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.7);
  @media screen and (min-width: 20em) {
    flex-direction: column;
    width: 97%;
    padding: 44px;
    gap: 13px;
    height: 100%;
  }
  @media screen and (min-width: 40em) {
    flex-direction: row;
    padding: 0px;
  }
  @media screen and (min-width: 60em) {
    width: 100%;
  }
}

.poster__text{
  position: relative;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 32px;
  &--title{
    margin-bottom: 15px;
  }
  &--comment {
    margin-top: 13px;
    margin-left: 10px;
    font-size: .80rem;
  }
  @media screen and (max-width: 60em) {
    padding: 0;
  }
}

.poster__box_rating{
  position: absolute;
  top: -20px;
  right: 53px;
  font-size: 1.2rem;
  transition: all .2s ease;
  &:hover {
    transform: scale(1.1);
  }
  &--span{
    color: gold;
  }
  @media screen and (min-width: 20em) {
    display: inline-block;
    text-align: center;
    // width: 50px;
    top: -418px;
    left: 0;
    right: 0;
    text-align: center;
  }
  @media screen and (min-width: 40em) {
    top: -51px;
    right: 0;
  }
  @media screen and (min-width: 43.8em) {
    top: -58px;
    // right: -251px
  }
  @media screen and (min-width: 60em) {
    top: -32px;
    // right: -6px;
  }
}
.star__scale{
  transition: all 0.2s ease;
  &:hover, &:active{
    cursor: pointer;
    transform: scale(1.4);

  }
}

.poster__text_wrapper{
  @media screen and (min-width: 60em) {
    padding: 0px 8px;
  }
}
.poster__box_img{
  height: 100%;
}

.movie_poster {
  border: 5px solid $card-bg-border-color;
  height: 348px;
  background-size: cover;
}
